.about {
  padding: 120px 20px;
  min-height: 60vh;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  max-width: 1100px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.about-image img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 18px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.25);
}


.about-text {
  max-width: 500px;
}

.about-text h2 {
  font-size: 32px;
  margin-bottom: 15px;
  text-align: left;
}

.about-text p {
  color: #c7c7c7;
  line-height: 1.6;
  font-size: 18px;
  text-align: left;
}
