.contact {
  padding: 120px 20px;
  text-align: center;
}

.contact-title {
  font-size: 32px;
  margin-bottom: 20px;
}

.contact-text {
  color: #c7c7c7;
  font-size: 18px;
  margin-bottom: 40px;
}

.contact-icons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.contact-icons a {
  color: white;
  font-size: 32px;
  transition: 0.3s ease;
}

.contact-icons a:hover {
  transform: translateY(-5px);
  color: #b3b3b3;
}
