/* NAVBAR BASE */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 40px;

  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #222;

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 999;
}

/* LOGO */
.logo {
  font-size: 20px;
  font-weight: 600;
}

/* DESKTOP MENU */
.menu {
  display: flex;
  gap: 30px;
}

.menu a {
  color: #ddd;
  text-decoration: none;
  transition: 0.3s;
}

.menu a:hover {
  color: white;
}

/* HAMBURGER BUTTON */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 26px;
  height: 3px;
  background: #ddd;
  border-radius: 5px;
  transition: 0.3s;
}

/* ANIMATION WHEN OPEN */
.hamburger.open span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* MOBILE MENU */
@media (max-width: 768px) {
  .menu {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 70%;
    background: rgba(0, 0, 0, 0.95);

    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

    transition: 0.4s ease;
  }

  .menu.open {
    right: 0;
  }

  .hamburger {
    display: flex;
  }
}
