.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 40px;

  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #222;

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 999;
}

.logo {
  font-size: 20px;
  font-weight: 600;
}

.menu {
  display: flex;
  gap: 30px;
}

.menu a {
  color: #ddd;
  text-decoration: none;
  transition: 0.3s;
}

.menu a:hover {
  color: white;
}
